#cmt {
    font-size: small;
    font-weight: bolder;
    border: 1px;
    border-width: 10px;
}

span {
    border: 1;
}

#result {
    width: fit-content;
    font-style: italic;
    border: 1px;
    border-style: solid;
    border-width: thin;
    padding: 10px;
    margin: 10px;
}